


@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html{
    font-size: 62.5%; 
    width: 100%; 
 }
 .mainbody{
     min-width: 320px;
     min-height: 794px;
    
 }
 a{
     color: black;
 }
 a:link {
    color: blue;
    
}
a:active {
color: blue;
}
 .mainheader{
    font-family: 'Lobster Two', cursive; 
    font-weight: 400;
    background-color: white;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
}
 .maindiv{
    align-items: flex-start;
     margin-left: 10px;
     margin-right: 10px;
     display: flex;
     justify-content:space-around;
     align-content: flex-start;
     justify-items:flex-start ;
     margin-top: 10px;
   
 }
.maindiv p{
    font-size: 1.8rem;
}
 .mainheader__logo img{
    width: 80px;
}

 .mainheader__horario--logo{
    height: 28px;
}

.mainheader__wassap{
    margin-right: 4px;
}

.mainheader__wassap--logo{
    height: 28px;    
}
.mainheader__instagram{
    padding: 0 5px;
}

.mainheader__instagram a{
    text-decoration: none;
    color: black;
}
.mainheader__instagram--logo{
    height: 28px;
    margin: 0 0 0 18px;    
}

.mainheader__location--logo{
    height: 28px;    
}
 .mainprincipal{
     display: flex;
     flex-direction: column;
     align-items: center
    
 }
 
 
 .main__section1{
    
    margin-top: 115px;
     width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #43509e;
   
}
.main__picture--img{
    width: 50vw;
     padding: 50px;
     border-radius: 120px;
 }
 
.main__section1 h1{
   
    font-family: 'Lobster Two', cursive; 
    font-weight: 600;
    padding: 41px 0 0 0;
   color: white;
   font-size: 3.7rem;
    text-shadow:-3px 0px 2px rgb(0 0 0);
    text-align: center;
}

.main--button1{
    font-family: 'Lobster Two', cursive; 
    font-weight: 400;
    position: relative;
    bottom: 20px;
    background-color:white ;
    border-radius:12px;
    width: 15%;
    text-align: center;
    font-size: 2rem;
    
}
.main--button1 a{
    
    text-decoration: none;
    
}


.main__section2{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:#8ed4f6
}
.main__picture--img2{
    width: 70vw;
    padding: 50px;
    border-radius: 120px;
}
.main__section2 h2{
    font-family: 'Lobster Two', cursive; 
    font-weight: 600;
    padding: 41px 0 0 0;
    color: white;
    font-size: 3.7rem;
     text-shadow:-3px 0px 2px rgb(0 0 0);
     text-align: center;
}
.main--button2{
    font-family: 'Lobster Two', cursive; 
    font-weight: 400;
    background-color:white ;
    border-radius:12px;
    width: 15%;
    text-align: center;
    font-size: 2rem;
    position: relative;
    bottom: 20px;
    }

.main--button2 a{
    text-decoration: none;
    
}
.main__section3{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:#c9eaf9;
}
.main__picture--img3{
    width: 55vw;
    max-width: 90vw;
    padding: 50px;
    border-radius: 120px;
}
.main__section3 h2{
    font-family: 'Lobster Two', cursive; 
    font-weight: 600;
    padding: 41px 0 0 0;
    color: white;
    font-size: 3.7rem;
     text-shadow:-3px 0px 2px rgb(0 0 0);
     text-align: center;
}

.main--button3{
    font-family: 'Lobster Two', cursive; 
    font-weight: 400;
    background-color:white ;
    border-radius:12px;
    width: 15%;
    text-align: center;
    font-size: 2rem;
    position: relative;
    bottom: 20px;
    
    }

.main--button3 a{
    text-decoration: none;
  
}
.fotter{
    font-family: 'Lobster Two', cursive; 
    font-weight: 400;
    text-align: end;
    background-color: grey;
}
.googlemaps{
    width: 100vw;
}

 